<div class="row">
  <div class="col-12">
    <div class="card-body">
      <h4 class="card-title">Table Lists</h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-dark">Serial no</th>
              <th class="text-dark">Title</th>
              <th class="text-dark">Status</th>
              <th class="text-dark">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td class="d-flex justify-space-evenly">
                <button>Edit</button>
                <button>Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>